.search-container {
  padding: 20px;
}

.search-header {
  text-align: center;
  margin-bottom: 20px;
}

.search-filter {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}

.filter-item {
  flex: 1 1 100%;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.filter-item h3 {
  margin-bottom: 10px;
}

.filter-item input {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  text-align: center;
}

.search-btn {
  width: 10%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.no-matches {
  text-align: center;
}